{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1 class="text-danger"> Editors' picks
        <small class="text-muted">to expand your booklists</small>
    </h1>
    <p></p>
    <div class="card mb-3" style="max-width: 960px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1639106809i/59716.jpg" class="img-fluid rounded-start" alt="To the Lighthouse">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">To the Lighthouse by Virginia Woolf</h3>
              <p class="card-text">The serene and maternal Mrs. Ramsay, the tragic yet absurd Mr. Ramsay, and their children and assorted guests are on holiday on the Isle of Skye. From the seemingly trivial postponement of a visit to a nearby lighthouse, Woolf constructs a remarkable, moving examination of the complex tensions and allegiances of family life and the conflict between men and women.
</p>
              <p class="card-text"><small class="text-muted">December, 2022</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 960px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://img4.labirint.ru/rc/f2e6fa35628ba0808f95f689d8cc167c/594x918q80/books89/886910/cover.jpg?1664271329" class="img-fluid rounded-start" alt="On Photography">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">On Photography by Susan Sontag</h3>
              <p class="card-text">First published in 1973, this is a study of the force of photographic images which are continually inserted between experience and reality. Sontag develops further the concept of 'transparency'. When anything can be photographed and photography has destroyed the boundaries and definitions of art, a viewer can approach a photograph freely with no expectations of discovering what it means. This collection of six lucid and invigorating essays, the most famous being "In Plato's Cave", make up a deep exploration of how the image has affected society.</p>
              <p class="card-text"><small class="text-muted">December, 2022</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 960px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.podpisnie.ru/upload/iblock/471/ahyqzvpqszq4x8so0unagvckas2njuw9.jpg" class="img-fluid rounded-start" alt="The Ticket That Exploded">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">The Ticket That Exploded by William S. Burroughs</h3>
              <p class="card-text">In The Ticket That Exploded, William S. Burroughs’s grand “cut-up” trilogy that starts with The Soft Machine and continues through Nova Express reaches its climax as inspector Lee and the Nova Police engage the Nova Mob in a decisive battle for the planet. Only Burroughs could make such a nightmare vision of scientists and combat troops, of ad men and con men whose deceitful language has spread like an incurable disease be at once so frightening and so enthralling.</p>
              <p class="card-text"><small class="text-muted">December, 2022</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 960px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="http://www.bodoi.info/wp-content/uploads/2021/12/9782203131767.jpg" class="img-fluid rounded-start" alt="Les Enfants Terribles">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Les Enfants Terribles by Jean Cocteau</h3>
              <p class="card-text">At home, Paul shares a private world with his sister Elisabeth, a world from which parents are tacitly excluded. Their room is where the Game is played, the Game being their own bizarre version of life. All that they do outside is effectively controlled by the rules of the Game: unfortunately the rules of the Game prescribe that the two children must die...</p>
              <p class="card-text"><small class="text-muted">December, 2022</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 960px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://img4.labirint.ru/rc/1d2d62e6b37a173ddf47c2abff774aa3/363x561q80/books89/888166/cover.jpg?1664271963" class="img-fluid rounded-start" alt="Big Sur">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h3 class="card-title">Big Sur by Jack Kerouac</h3>
              <p class="card-text">Big Sur is a 1962 novel by Jack Kerouac, written in the fall of 1961 over a ten-day period, with Kerouac typewriting onto a teletype roll. It recounts the events surrounding Kerouac's (here known by the name of his fictional alter-ego Jack Duluoz) three brief sojourns to a cabin in Bixby Canyon, Big Sur, California, owned by Kerouac's friend and Beat poet Lawrence Ferlinghetti; at the same time dealing with his increased drinking and declining mental health. It is Kerouac’s first novel to be fully written following his success in the late 1950’s, and thus departs from his previous fictionalized autobiographical series in that the character Duluoz is shown as a popular, published author; most of Kerouac's previous novels instead portray him as a bohemian traveller.</p>
              <p class="card-text"><small class="text-muted">December, 2022</small></p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}