{% extends "layout.html" %}

{% block title %}
    Notes
{% endblock %}

{% block main %}
<header>
    <form action="/notes" method="post">
    <div class="mb-3">
    <label for="heading" class="form-label mx-auto w-auto">Heading</label>
    <input type="text" class="form-control mx-auto w-auto" name="heading" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="note" class="form-label mx-auto w-auto">Note's text area</label>
    <textarea class="form-control mx-auto w-auto-lg" name="note" rows="3"></textarea>
    </div>
    <button class="btn btn-success" type="submit">Add a note</button></form>
</header>

<main>
    <p></p>

    {% for note in notes %}
    <figure class="text-start"> <p class="h3"> {{ note["heading"] }} </p>
    <p> {{ note["note"] }}</p>
    <figcaption class="blockquote-footer">
        Date: <cite title="date">{{ note["date"]}}</cite>
      </figcaption></figure>
      <form action="/deleteNote" method="post">
        <div class="mb-3">
          <select class="form-select" name="heading" aria-label="Delete this note">
            <option selected>{{ note["heading"] }}</option></select>
            <button class="btn btn-danger" type="submit">Delete</button>
      </form>
    </div>
    {% endfor %}
</main>
{% endblock %}
